#header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;

  column-gap: 1em;
  

  background-image: url(/images//simple-header-blended-small.png);
  background-color: black;
  background-repeat: repeat-x;
  background-size: cover;

  color: white;
}
#logo {
  max-height: 150px;

  grid-column: 4 / 6;

  align-self: center;
  justify-self: center;

  margin: 2em 0;
}
#header > h1 {
  font-weight: 300;
  grid-column: 6 / 10;

  font-size: 4em;

  align-self: center;
}

@media screen and (max-width:1450px) {
  #header {
    grid-template-rows: auto auto;
    row-gap: 1em;
  }
  #logo {
    grid-column: 6 / span 2;

    align-self: end;

    margin: 2em 0 0 0;
  }
  #header > h1 {
    grid-column: 3 / 11;
    grid-row: 2 / 3;

    text-align: center;
    align-self: start;
    padding: 0;
    margin: 0 0 0.5em 0;
  }
}


#main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2em;

  margin: 2em 3em;
}
#main > div {
  margin: 0 1em;
}
#main > div > h2 {
  text-align: center;
  font-weight: 400;
}
#web-games {
  grid-column: 3 / 7;
}
#hc-games {
  grid-column: 7 / 11;
}
#button {
  margin-top: 1em;

  display: block;
  width: 100%;
  background-color: #262626;

  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0;

  border-radius: 5px;
}

@media screen and (max-width:1050px) {
  #main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    column-gap: 2em;
    row-gap: 2em;
  
    margin: 2em 3em;
  }
  #main > div {
    margin: 0 1em;
  }
  #web-games {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
  }
  #hc-games {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
  }
}


#contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  column-gap: 1em;
  row-gap: 2em;

  margin: 0 3em 5em 3em;
}
#contact > div {
  grid-column: 3 / 11;
  margin: 0 1em;
}
#contact > div > p {
  line-height: 2em;
}
#contact > div >p > a {
  color:  #737373;
  text-decoration: underline;
  font-weight: 300;
}