#mc_embed_signup {
    padding: 1em;
    margin: 2em auto;

    height: 7em;
    max-width: 26em;
    text-align: center;
}

.mc-field-group {
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin: 0.5em 0;

    text-align: left;
}

.button {
    min-width: 8em;
    min-height: 2.25em;

    font-weight: 700;
    font-size: 1.25em;

    border-radius: 0.5em;
    border: solid rgba(0, 0, 0, 0.5) 1px;
}