body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {

}
h5 {

}
h6 {

}

p {
    line-height: 20px;
}

a {

}

li {
    
}

@media screen and (min-width:600px) {
    
}