html {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
body {
    font-size: 90%;
}
@media(max-width:70em){body{ font-size: 200% }}

h1 {
    font-size: 2.25em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
    line-height: 19px;
    letter-spacing: 2px;
    color: #A52129;
    text-transform: uppercase;
}
p {
    font-size: 1em;
    line-height: 19px;
}


section {
    margin-top: 96px;
}
section > h4 {
    margin-bottom: 2em;
}


#alienplay-logo {
    height: 3em;
    width: 3em;
    margin-top: 1em;
}
@media(max-width:70em){
#alienplay-logo {
    height: 4em;
    width: 4em;
}  
}

#newsletter {
    margin: 0 auto;
    margin-top: 3em;
    max-width: 25em;
    padding: 1em;
}
#newsletter > h1 {
    font-weight: 700;
}
#newsletter-call-to-action {
    margin-top: 1.5em;
    font-weight: 500;
}
#mc-embedded-subscribe{
    margin-top: 3em;
    
    padding: 10px 30px;

    border-radius: 4px;
    background-color: black;
    border: none;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 2px;
}



#coming-soon > div {
    background-color: #7E4D3C;
    background-image: radial-gradient(#a66650,#7E4D3C);
}
#coming-soon > div > img {
    max-height: 350px;
}
@media(max-width:70em){
#coming-soon > div > img  {
    width: 100%;
    object-fit: contain;
}
}


#more-games {
    margin-bottom: 96px;
}



#games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

    column-gap: 25px;
    row-gap: 56px;

    margin: 0 3em;
}


.game > img {
    width: 100%;
    object-fit: contain;
}
.game > h3 {
    margin-top: 1.5em;
    font-size: 20px;
}
.game > p {
    margin-top: 0.75em;
    font-size: 16px;    
}
@media(max-width:70em){
.game > h3 {
    font-size: 42px;
}
.game > p {
    font-size: 28px;
}
.game > button {
    font-size: 24px;
}
}

.game > button {
    margin-top: 1.5em;
    text-align: center;

    font-size: 1em;
    line-height: 19px;

    padding: 2em 3em;

    padding: 9px 12px 8px 12px;
    color:#A52129;
    background-color: white;

    border: solid #A52129 1px;
    border-radius: 4px;
}
.game > button:hover {
    color:white;
    background-color: #A52129;
}


footer {
    width: 100%;
    min-height: 3em;

    background-color: #1a1a1a;
    color: white;

    margin-bottom: 0;

    text-align: center;

}
footer > h4 {
    padding: 2em;
    line-height: 1.25em;
}


