h1, h2, h3, h4, h5, h6, p, li, label, button, input {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}

header, section {
    margin-top: 2em;
    text-align: center;
}

#logo {
    max-width: 150px;
    max-height: 150px;
}

.box {
    width: 75%;
    max-width: 1000px;

    margin: 0 auto;
}

.gif-box {
    margin: 3em auto;
    max-width: 51em;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    justify-items: center;
    grid-gap: 0.5em;
}
.gif-box > img {
    max-width: 25em;
}


.spin-gif-outline > img {
    border-radius: 0.25em;
}


#spin-text-color input {
    color: rgb(219, 255, 61);
}
#spin-bg {
    background-color: #804f3d;
}


.white-text h1, .white-text h2, .white-text h3, .white-text h4, .white-text p, .white-text label, .white-text button, .white-text input, .white-text {
    color: white;
}
.text-shadow {
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}
.box-shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}





#game-container {
    margin: 5em 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    grid-gap: 1em;
}

.game {
    max-height: 500px;
    max-width: 500px;
}
.game > a > img {
    width: 100%;
}


footer {
    width: 100%;
    min-height: 3em;

    background-color: #1a1a1a;
    color: white;

    margin-bottom: 0;

    text-align: center;

}
footer > h4 {
    padding: 2em;
}